# Ignore virtual environments
/backend_env/
/finbridgev2/backend_venv/

# Ignore node_modules
/node_modules/
/finbridgev2/node_modules/

# Other files to ignore
*.pyc
__pycache__/
*.log

# .gitignore
.env
        .env
