# Virtual environment
venv/
backend_env/
*.pyc
*.pyo
__pycache__/

# Ignore system files
*.DS_Store
*.log
*.sqlite3

# Ignore IDE/editor config files
.idea/
.vscode/

# Node.js dependencies
node_modules/

